html{
    background: linear-gradient(blue, lightblue);
    height: 100%;
    background-attachment: fixed;

}

p{
    padding-left: 50px;
    padding-right: 50px;
    
}

figcaption{
    font-family: 'Oswald', 'Encode Sans SC', sans-serif ;
    font-size: 10px;
    color: white;
}

figure{
    text-align: center;
}

body{
    font-family: 'Oswald', 'Encode Sans SC', sans-serif ;
    font-size: 20px ;
    font-weight: 400;
    color: white;
}

h1{
    font-family: 'Lobster', 'Handlee', serif ;
    font-size: 145px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

h2{
    font-family: 'Handlee', 'Lobster', Serif ;
    font-size: 64px;
    font-weight: 300;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

}

h3{
    font-family: 'Handlee', 'Lobster', Serif;
    font-size: 25px;
    font-weight: 400;
    color: white;

}

#navbar{
    font-family: 'Oswald', 'Encode Sans SC', sans-serif ;
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-align: center;
}

a{
    color: white;

}

a:hover{
    color: #AAFAE1;
}

.picText{
    
}

img{
    width: 300px;
    height: 200px;
    text-align: center;
    
}

#pianoSize{
width: 300px;
height: 500px;
}

#musicSize{
width: 300px;
height: 500px;
}

#portrait{
    width: 300px;
    height: 400px;
    text-align: center;

}

#portraitDiv{
    float: left;
}

#container{
    

}

.gridContainer{
    display: grid;
}

.topRight{
    grid-column: 3;
    grid-row: 1;
}

.topLeft{
    grid-column: 1;
    grid-row: 1;
}

.centerRow{
    grid-column: 1/4;
    grid-row: 2;
}

.bottomCenter{
    grid-column: 2;
    grid-row: 3;
}

.bottomLeft{
    grid-row: 2;
    grid-column: 1;
}

.topCenter{
    grid-row: 1;
    grid-column: 2;

}

.bottomRight{
    grid-column: 3;
    grid-row: 2;

}

.bottomText{
    vertical-align: bottom;
    margin-top: 200px;
}